# Ignore virtual environment
venv/
__pycache__/

# Ignore system files
.DS_Store

# Ignore Python cache
*.pyc
*.pyo
*.pyd

# Ignore temporary files created by text editors
*.swp
*.swo

# Ignore large data files
*.log
*.db

